/*
Python Coding Bootcamp (pdxcodeguild)
Code File for finalproject_fxalarm/app/fxalarm_configuration.html
by: Matthew James K on 5/11/2016
*/
body
{
    margin: 0 auto;
}

.titlesection {
    width: 50%;
}