<!DOCTYPE html>
<!--
Python Coding Bootcamp (pdxcodeguild)
Code File for finalproject_fxalarm/app/fxalarm_configuration.html template file
by: Matthew James K on 5/11/2016
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>FX Alarm Tool - Configuration</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/fxalarm_site.css' %}" />
</head>
<body>
    <section class="titlesection">
        <header><h1>FX Alarm Tool - Configuration</h1></header>
    </section>
</body>
</html>