/*
Python Coding Bootcamp (pdxcodeguild)
Code File for static/finalproject_fxalarm/content/fxalarm_site.css
by: Matthew James K on 5/16/2016
*/
body
{
    margin: 0 auto;
}

.h1title {
    margin: 0;
}

.headersection {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;
    width: 21.3em;
    margin: 0;
}