/*
Python Coding Bootcamp (pdxcodeguild)
Code File for static/finalproject_fxalarm/content/fxalarm_site.css
by: Matthew James K on 5/16/2016
*/
body
{
    margin: 0 auto;
}

.titlesection {
    width: 50%;
}