/*
Python Coding Bootcamp (pdxcodeguild)
Code File for static/finalproject_fxalarm/content/fxalarm_site.css
by Matthew James K (PIPs for Heaven, LLC) on 5/25/2016
*/
body {
    margin: 0 auto;
}

.h1title {
    margin: 0;
}

.bodybackground {
    background-image: url('../images/in_GOD_we_trust_ONLY.jpg');
}

.backgroundfarewell {
    position: relative;
}

.peace_onto_you_pic {
    width: 100%;
    height: 900px;
}

.cross {
    -webkit-align-content: center;
    -ms-align-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 42%;
    color: white;
    font: bold 7em Helvetica, Sans-Serif;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.message {
    left: 0;
    top: 30%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    font: bold 2em Helvetica, Sans-Serif;
}

.btn_eventviewer {
    color: white;
    min-width: 34em;
    background: rgba(0, 0, 0, 0.4);
    font: bold 1.5em Helvetica, Sans-Serif;
}

.stream_warning {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;
    width: 28em;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
    font-size: 20px;
}

.width_parentmax {
    width: 100%;
}

.view_select_summary {
    max-height: 344.5px;
}

.view_item_detail {
    max-height: 344.5px;
}

.max_width_eventlog {
    max-width: 61.3em;
}

.top_header_bar {
    display: flex;
}

.top_btn_on_bar {
    min-width: 100%;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
    font-size: 3.7em;
}

.splash {
    position: relative;
}

.column_viewer {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    display: flex;
}

.eventloglabel {
    font: bold 3em Helvetica, Sans-Serif;
    max-width: 16.6em;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.eventloglabelinstruct {
    font: bold 1em Helvetica, Sans-Serif;
    min-width: 24em;
}

.eventlogviewall {
    font: bold 0.8em Helvetica, Sans-Serif;
    background: rgba(0, 0, 0, 0.7);
    padding: 4px;
    min-width: 63.9em;
}

.eventlogtitle {
    color: white;
    font: bold 4em Helvetica, Sans-Serif;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    max-width: 12.5em;
}

.overlay_header {
    position: absolute;
    top: 42%;
    width: 100%;
}

    .overlay_header span {
        color: white;
        font: bold 2em Helvetica, Sans-Serif;
        background: rgba(0, 0, 0, 0.4);
        padding: 10px;
    }
