<!DOCTYPE html>
<!--
Python Coding Bootcamp (pdxcodeguild)
Code File for templates/finalproject_fxalarm/fxalarm_event_log.html
by: Matthew James K on 5/16/2016
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title_eventlog }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'finalproject_fxalarm/content/fxalarm_site.css' %}" />
</head>
<body class="bodybackground">
    <header>
        <h1 class="eventlogtitle">{{ title_eventlog }}</h1>
    </header>
    <section>
        <blockquote>
            <p class="eventloglabel">USD Summary Capture List:</p>
            <select id="view_select_summary" multiple="multiple">
                {% for summary in usd_summary %}
                    <option>{{ summary }}</option>
                {% endfor %}
            </select>
        </blockquote>
        <blockquote>
            <p class="eventloglabel">USD Instance Detail:</p>
            <select id="view_item_detail" multiple="multiple">
                {% for detail in usd_detail %}
                    <option>{{ detail }}</option>
                {% endfor %}
            </select>
        </blockquote>
        <blockquote>
            <a href="{% url 'peace_onto_you' %}"><input class="btn_peace" type="submit" value="Peace be with you, and take Good Care." /></a>
        </blockquote>
    </section>
    <!--<script type="text/javascript" src="{% static 'finalproject_fxalarm/scripts/jquery-v2.2.4.js' %}"></script>-->
    <!--<script type="text/javascript" src="{% static 'finalproject_fxalarm/scripts/lodash-v4.13.1.js' %}"></script>-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.js"></script>
    <script type="text/javascript" src="{% static 'finalproject_fxalarm/scripts/fxalarm_site.js' %}"></script>
</body>
</html>
